# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# some not core code，just unreal generate
buildEscape/.vs/
buildEscape/.idea/
buildEscape/.vscode/
buildEscape/DerivedDataCache/
buildEscape/Saved/
buildEscape/Intermediate/
buildEscape/Binaries/
buildEscape/Content/
!buildEscape/Content/MyProject/